<!DOCTYPE html>
<html>
  <head>
    {{>_head}}
  </head>
  <body>
    <div>Too bad! You lost. Go read a book or something.</div>
    <div>Or do you want to <a href="/">try again?</a></div>
  </body>
</html>
